html, body {
  height: 100%;
  width: 100%;
}

#viewCanvas {
  width:1000px;
  height:660px;
  left: 0px;
}
#images {
  display: none;
  visibility: hidden;
}

#rightInput {
  position: absolute;
  top: 5px;
  right: 5px;
}

h5 {
  margin:0px;
}

input {
  width:200px;
}
body {
  zoom: 0.85; 
}